<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>wsAlpha</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
<div class="outer-container">
    {% with messages = get_flashed_messages()%}
{% if massages%}
    {% for massage in massages%}
    <p>{{massage}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="form-container" id="formContainer">
        <form id="myForm" method="post" action="{{ url_for('home') }}">
          <h2 style="font-size: 200%;">Update Account</h2>
          <hr>
          <br>
          <div class="form-step" style="font-size: 150%;">
              <label for="email">Email</label><br>
              <input type="email" id="email" name="email" required style="width: 150%;"><br>
              <button type="button" onclick="nextStep(1)" style = "background-color : #FFF962; color: rgb(45,46,58);">Next</button>
          </div>
          <div class="form-step" style="font-size: 150%;">
              <label for="name">Name</label><br>
              <input type="text" id="name" name="name" style="width: 150%;"><br>
                <button type="button" onclick="prevStep(0)" required >Back</button>
              <button type="button" onclick="nextStep(2)">Next</button>
          </div>
          <div class="form-step" style="font-size: 150%;">
              <label for="keyword_1">First Keyword</label><br>
              <input type="text" id="keyword_1" name="keyword_1" required style="width: 150%;"><br>
              <button type="button" onclick="prevStep(1)">Back</button>
              <button type="button" onclick="nextStep(3)">Next</button>
          </div>
          <div class="form-step" style="font-size: 150%;">
              <label for="keyword_2">Second Keyword</label><br>
              <input type="text" id="keyword_2" name="keyword_2" required style="width: 150%;"><br>
                <button type="button" onclick="prevStep(2)">Back</button>
              <button type="button" onclick="nextStep(4)">Next</button>
          </div>
          <div class="form-step" style="font-size: 150%;">
              <label for="keyword_3">Third Keyword</label><br>
              <input type="text" id="keyword_3" name="keyword_3" required style="width: 150%;"><br>
              <button type="button" onclick="prevStep(3)">Back</button>
              <button type="button" onclick="nextStep(5)">Next</button>
          </div>
          <div class="form-step" style="font-size: 150%;">
              <label for="keyword_4">Fourth Keyword</label><br>
              <input type="text" id="keyword_4" name="keyword_4" required style="width: 150%;"><br>
              <button type="button" onclick="prevStep(4)">Back</button>
              <button type="button" onclick="nextStep(6)">Next</button>
          </div>
           <div class="form-step" style="font-size: 150%;">
              <label for="keyword_5">Fifth Keyword</label><br>
              <input type="text" id="keyword_5" name="keyword_5" required style="width: 150%;"><br>
              <button type="button" onclick="prevStep(5)">Back</button>
              <input type="submit" value="Submit" href="/joined">
          </div>
      </form>
    </div>
</div>
<script>
    let currentStep = 0;
    showStep(currentStep);

    function showStep(n) {
        let steps = document.getElementsByClassName("form-step");
        steps[n].classList.add("active");
    }

    function nextStep(n) {
        let steps = document.getElementsByClassName("form-step");
        if (n == steps.length) {
            document.getElementById("myForm").submit();
            return false;
        }
        steps[currentStep].classList.remove("active");
        steps[currentStep].classList.add("previous");
        currentStep = n;

        let formContainer = document.getElementById("formContainer");
        formContainer.style.transform = `translateX(-${0}%)`;

        showStep(currentStep);
    }

    function prevStep(n) {
      let steps = document.getElementsByClassName("form-step");
      if (n < 0) {
          return false;
      }
      steps[currentStep].classList.remove("active");
      steps[currentStep].classList.remove("previous");
      currentStep = n;

      let formContainer = document.getElementById("formContainer");
      formContainer.style.transform = `translateX(-${0}%)`;

      showStep(currentStep);
    }
    function scrollToForm() {
    document.querySelector('#formContainer').scrollIntoView({ behavior:'smooth' });
}
</script>
</body>
</html>